/* Importación dela fuente requerida */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* Reseteos básicos iniciales */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul { list-style: none; }

a { text-decoration: none; }

/* ===== COLORES ===== */
/* Violeta: #8B48BF
Celeste brillante: #3CDDF3
Azul grisáceo oscuro: #1E1E26
Azul muy oscuro: #232851
Variante gris claro: rgb (249, 249, 249)

/* ===== TIPOGRAFÍA ===== */
/* - Family: [Be Vietnam Pro](https://fonts.google.com/specimen/Be+Vietnam+Pro)
- Weights: 400, 500, 700 */

/* Estilos de contenedores y elementos flexbox para el layout */
.row {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.item {
  flex-basis: 100%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* ===== Mediaqueries para Responsive Web Design ===== */

@media screen and (min-width: 1440px) { /* Desktop con 1440px o más */
  
}