/* Importación dela fuente requerida */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* Reseteos básicos iniciales */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Be Vietnam Pro";
  font-weight: 500;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul { list-style: none; }

a { text-decoration: none; }

p { line-height: 1.5rem; }

/* ===== COLORES ===== */
/* Violeta: #8B48BF
Celeste brillante: #3CDDF3
Azul grisáceo oscuro: #1E1E26
Azul muy oscuro: #232851
Variante gris claro: rgb (249, 249, 249)

/* ===== TIPOGRAFÍA ===== */
/* - Family: [Be Vietnam Pro](https://fonts.google.com/specimen/Be+Vietnam+Pro)
- Weights: 400, 500, 700 */

/* Estilos de contenedores y elementos flexbox para el layout */
.row {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.row-full { max-width: 100%; }

.item {
  flex-basis: 100%;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.xs-row-align-center { align-items: center; }

.xs-cols-6 {
  flex-basis: 50%;
  width: 50%;
}

/* ===== Estilos para el header y el menu de navegación ===== */
header {
  position: fixed;
  width: 100%;
  min-height: 100px;
  height: fit-content;
  background-color: #FFF;
  box-shadow: 1px 1px 1px rgba(30 30 30 / .2);
  z-index: 77777;
}

.main-nav {
  margin-top: 1.6rem;
  padding: 1rem 0;
}

.logo-nav {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: none;
  opacity: 0;
}

.hamburger {
  font-size: 2.6rem;
  display: flex;
  justify-content: flex-end;
}
/* ===== FIN Estilos para el header y el menu de navegación ===== */


/* ===== Estilos para la sección principal ===== */
.intro {
  position: relative;
  width: 100%;
  padding-top: 8rem;
  margin-bottom: 2.5rem;
}

.intro-content {
  text-align: right;
}

.intro-image { margin-bottom: 6rem; }

.intro-title {
  font-size: 3rem;
  font-weight: 700;
  color: #232c50;
  line-height: 1.3;
}

.intro-title, .intro-info { margin-bottom: 1.75rem; }
/* ===== FIN Estilos para la sección principal ===== */


/* ===== Estilos para la segunda sección ===== */

.difference {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #3CDDF3;
  color: #FFF;
  padding: 2.5rem 0;
  margin-bottom: 4rem;
}

.difference-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.difference h2 {
  font-size: 36px;
  font-weight: bold;
  width: 300px;
  margin-bottom: 70px;
}

.difference p {
  line-height: 28px;
  word-spacing: 2px;
  width: 450px;
}


.practices {
  position: relative;
  width: 100%;
  background-color: #FAFAFA;
  padding-bottom: 1rem;
  overflow-x: hidden;
}

.practices-data {
  margin-bottom: 1.25rem;
}

.practices-title {
  width: 100%;
  height: 2.75rem;
  background-color: rgba(139 72 191 / .3);
  font-weight: 700;
  color: #323851;
  margin-left: 2rem;
  border-top-left-radius: 1.75rem;
  border-bottom-left-radius: 1.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.practices-title::before {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8B48BF;
  color:#FFF;
  height: inherit;
  width: 4rem;
  border-radius: 1.75rem;
  margin-right: 1.25rem;

}
#practice-one::before { content: "01"; }
#practice-two::before { content: "02"; }
#practice-three::before { content: "03"; }

.practices-info {
  color: #B3B2B7;
}
/* ===== FIN Estilos para la segunda sección ===== */


/* Estilos generales para elementos comunes */
.buttonmore {
  display: flex;
  justify-content: center;
}

.more {
  background-color: #8b48bf;
  border: none;
  border-radius: 50px;
  padding: 15px 50px;
  cursor: pointer;
  color: #ffffff;
  width: 134px;
  height: 44px;
  margin-top: 3rem;
}

.centered-section {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Esto centra la sección en toda la altura de la ventana */
}

/* Estilos adicionales según sea necesario */
.get-to {
  text-align: center; /* Para centrar el texto dentro del div */
}


.centered-section {
  background-color: #3cddf3;
  margin-top: 4rem;
  width: 540px;
  height: 400px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.get-to {
  width: 350px;
  align-self: center;
  margin-top: 4rem;
}

.get-to {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.gobutton {
  background-color: #232c50;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  width: 134px;
  height: 44px;
  margin-top: 3rem;
  align-self: center;
}

.pie {
  display: flex;
  flex-direction: column-reverse;
}
footer {
  height: 534.71px;
  background-color: #1e1e26;
  color: #ffffff;
  padding-top: 4rem;
}
.redes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  font-size: 20px;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.itemss {
  list-style: none;
}

.itemss li a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 1.2rem;
  display: block;
}
.go {
  height: 42px;
  width: 63px;
  border-radius: 1.3rem;
  background-color: #8b48bf;
  margin-top: 2px;
  cursor: pointer;
  border: none;
  margin-left: 0.6rem;
}
.copyright {
  color: #8c8c94;
  display: flex;
  justify-content: center;
  font-size: 13px;
}
.button {
  display: inline-block;
  width: fit-content;
  height: auto;
  padding: 1rem 2rem;
  background-color: rgba(139 72 191 / 1);
  color: #FFF;
  border-radius: 2rem;
  transition: background-color .3s ease-in-out;
}

.button:hover{ background-color: rgba(139 72 191 / .7); }

/* ===== Mediaqueries para Responsive Web Design ===== */

@media screen and (min-width: 1440px) { /* Desktop con 1440px o más */
  
}